# Dependencies
node_modules/
__pycache__
*.py[cod]
*$py.class

# Environment variables
.env
.env.local
.env.*.local

# Vercel
.vercel
output-*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# ReportLab cache
reportLabRL_config.xml
.vercel
